.footer__button a {
    font-size: 16px;
    color: #95989a;
    text-decoration: none;
}

.footer__button {
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer__button a:hover {
    color: #E37639;
}

footer {
    bottom: 0;
    left: 0;
}

.breadcrumbs {
    display: flex;
}

.hidden {
    display: none;
}

.complectation__price-current {
    cursor: pointer;
}

a {
    cursor: pointer;
}


.modification_compare table {
    table-layout: fixed;
    width: 100%;
}

.modification_compare td {
    width: 1%;
}

.modification_compare td:first-child {
    width: 2%;
}

.region {
    display: flex;
    align-items: center;
}

.region:hover {
    color: #ffdd2d;
}

.header-main__logo img {
    max-width: 230px;
}

.footer-main__logo img {
    max-width: 230px;
}

.footer-info__address {
    font-size: 1em;
}